<div class="row">
    <div class="offset-sm-2 col-sm-8">
        <div class="card text-blank">
            <div class="card-body">
                <div class="card-title text-center">
                    <h5>Add two numbers</h5>
                </div>
                <div class="card-text">
                    <form [formGroup]="addForm" (ngSubmit)="onSubmit(addForm)">
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="Number 1" name="number1" [formControl]="addForm.controls['number1']">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="Number 2" name="number2" [formControl]="addForm.controls['number2']">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-warning btn-block round">Add</button>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="Sum" name="sum" [formControl]="addForm.controls['sum']">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>